body {
    background-image: url(car.jpg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efb0b0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
}
form {
    margin-top: 20px;
}
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
p {
    text-align: center;
    margin-top: 20px;
}